.display{
    margin-left: 500px;
}

#title {
    font-size: 45px;
    padding: 20px;
    margin-left: 70px;
}

.outline {
    border: 2px solid black;
    padding: 20px;
    width: 450px;
    height: 400px;
    background-color: black;
}

.screen {
    border: 1px solid black;
    padding: 50px;
    background-color: silver;
}

.buttons {
    border: 2px solid black;
    margin-top: 20px;
}

button {
    padding: 30px;
    width: 145px;
}