<div class="display">
    <div id="title">CALCULATOR</div>
    <div class="outline">
        <div class="screen">
            <div type="text">{{input}}</div>
            <div type="text">{{result}}</div>
        </div>  
        <div class="buttons">
            <table>
                <tr>
                    <td><button mat-raised-button color="primary" (click)="clearAll()">C</button></td>
                    <td><button mat-raised-button (click)="clear()">del</button></td>
                    <td><button mat-raised-button>%</button></td>
                    <td><button mat-raised-button>÷</button></td>
                </tr>
                <tr>
                    <td><button mat-raised-button>7</button></td>
                    <td><button mat-raised-button>8</button></td>
                    <td><button mat-raised-button>9</button></td>
                    <td><button mat-raised-button>×</button></td>
                </tr>
                <tr>
                    <td><button mat-raised-button>4</button></td>
                    <td><button mat-raised-button>5</button></td>
                    <td><button mat-raised-button>6</button></td>
                    <td><button mat-raised-button>-</button></td>
                </tr>
                <tr>
                    <td><button mat-raised-button>1</button></td>
                    <td><button mat-raised-button>2</button></td>
                    <td><button mat-raised-button>3</button></td>
                    <td><button mat-raised-button>+</button></td>
                </tr>
                <tr>
                    <td><button mat-raised-button></button></td>
                    <td><button mat-raised-button>0</button></td>
                    <td><button mat-raised-button>.</button></td>
                    <td><button mat-raised-button color="primary">=</button></td>
                </tr>
            </table>
        </div>      
    </div>
</div>
