#input_box {
    border: 2px solid black;
    padding: 2px;
    width: 260px;
    height: 20px;
    margin-bottom: 2px;
    background-color: silver ;
}

#title {
    font-size: 45px;
    margin-left: 550px;
}

.display {
    height: 500px;
}

.outline {
    margin-left: 550px;
}